/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 200px;
}
nav a {
  margin-right: 20px;
  color: #F1FAEE;
  font-size: 80px;
  text-decoration: none;
}
.Home .head {
  background: -webkit-linear-gradient(#1D3557, #E63946);
  height: 305px;
  max-width: 100%;
  padding-bottom: 25px;
}
.Home .head h1 {
  margin-left: 700px;
  color: #F1FAEE;
  text-shadow: -2px 0 #457B9D, 0 2px #457B9D, 2px 0 #457B9D, 0 -2px #457B9D;
  padding-bottom: 100px;
  font-size: 120px;
  padding-left: 50px;
}
.Home .head p {
  color: #1D3557;
  font-size: 40px;
  padding-left: 260px;
  padding-bottom: 5px;
}
.Home .head button {
  background-color: #1D3557;
  border: none;
  text-decoration: none;
  height: 80px;
  width: 200px;
  border-radius: 80%;
}
.Home .head button a {
  font-size: 16px;
  background-color: #1D3557;
  color: #A8DADC;
  text-decoration: none;
}
.Home .head button a {
  color: #A8DADC;
  font-size: 24px;
}
.Home .head #button1 {
  margin-left: 775px;
  margin-right: 10px;
}
.Home .midsect {
  background: -webkit-linear-gradient(#E63946, #F1FAEE, #A8DADC, #457B9D, #1D3557);
  height: 610px;
}
.Home .midsect #img5 {
  width: 100%;
  position: absolute;
  mix-blend-mode: multiply;
}
.About .head {
  background: -webkit-linear-gradient(#1D3557, #E63946);
  height: 15vh;
}
.About .head h1 {
  font-size: 80px;
  text-align: center;
  color: #F1FAEE;
  text-shadow: -2px 0 #457B9D, 0 2px #457B9D, 2px 0 #457B9D, 0 -2px #457B9D;
}
.About .head a {
  font-size: 40px;
}
.About .midsect {
  background: -webkit-linear-gradient(#E63946, #F1FAEE, #A8DADC, #457B9D, #1D3557);
}
.About .midsect h2 {
  color: #1D3557;
  font-size: 40px;
}
.About .midsect #imgmain {
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
}
.About .midsect .attributes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
}
.About .midsect #img1 {
  width: 40%;
  border-radius: 60%;
}
.About .midsect #p1 {
  font-size: 60px;
  color: #F1FAEE;
  text-shadow: -2px 0 #457B9D, 0 2px #457B9D, 2px 0 #457B9D, 0 -2px #457B9D;
}
.About .midsect #img2 {
  width: 40%;
  border-radius: 60%;
}
.About .midsect #p2 {
  font-size: 60px;
  color: #F1FAEE;
  text-shadow: -2px 0 #457B9D, 0 2px #457B9D, 2px 0 #457B9D, 0 -2px #457B9D;
}
.About .midsect #img3 {
  width: 40%;
  border-radius: 80%;
}
.About .midsect #p3 {
  font-size: 60px;
  color: #F1FAEE;
  text-shadow: -2px 0 #457B9D, 0 2px #457B9D, 2px 0 #457B9D, 0 -2px #457B9D;
}
.Home .foot {
  background-color: #1D3557;
  height: 150px;
}
.Home .foot a {
  background-color: #1D3557;
  color: #F1FAEE;
  font-size: 24px;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 20px;
}
@media (max-width:1000px) {
  .Home .foot {
    height: 75px;
  }
}
@media (min-height:1000px) {
  .Home .foot {
    height: 500px;
  }
  .Home .foot a {
    font-size: 80px;
  }
}
.About .foot {
  background-color: #1D3557;
  height: 10vh;
}
.About .foot a {
  color: #F1FAEE;
  font-size: 40px;
}
