/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head {
  background: -webkit-linear-gradient(#1D3557, #E63946);
  height: 105px;
  padding-bottom: 25px;
}
.head h1 {
  margin-left: 500px;
  color: #F1FAEE;
  text-shadow: -2px 0 #457B9D, 0 2px #457B9D, 2px 0 #457B9D, 0 -2px #457B9D;
  padding-bottom: 5px;
  font-size: 60px;
  padding-left: 50px;
}
.head p {
  color: #1D3557;
  font-size: 24px;
  padding-left: 260px;
  padding-bottom: 5px;
}
.head button {
  background-color: #1D3557;
  border: none;
  text-decoration: none;
  height: 30px;
  width: 100px;
  border-radius: 80%;
}
.head button a {
  font-size: 16px;
  background-color: #1D3557;
  color: #A8DADC;
  text-decoration: none;
}
.head button a {
  color: #A8DADC;
}
.head #button1 {
  margin-left: 575px;
  margin-right: 10px;
}
.midsect {
  background: -webkit-linear-gradient(#E63946, #F1FAEE, #A8DADC, #457B9D, #1D3557);
  height: 610px;
}
.midsect #img5 {
  padding-top: 45px;
  padding-left: 300px;
  width: 800px;
  position: absolute;
  mix-blend-mode: multiply;
}
.foot {
  background-color: #1D3557;
  height: 100px;
}
.foot a {
  background-color: #1D3557;
  color: #F1FAEE;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 20px;
}
