
    

.head{
    background: -webkit-linear-gradient(@d-blue, @blue,@red,@white);
    display: flex;
    flex-direction: row;height:300px;

    form{margin-top: 70px;
        height:20px;
        margin-left: 650px;
        display: flex;
        flex-direction: row;
        color: @l-blue;


    }
    

    h1{
    color:@white;
    text-shadow: -2px 0 @red, 0 2px @red, 2px 0 @red, 0 -2px @red;
    background: -webkit-linear-gradient(@d-blue, @blue,@red,@white);
  
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    padding-left: 50px;
    }

    button{.button(@d-blue);
        text-decoration: none;
        height:30px;
        border-radius: 80%;
        margin-left: 10px;
        padding-right: 25px;
        padding-left: 25px;
        
        }
    }
    
.sign-up{
    background: -webkit-linear-gradient(@white, @l-blue, @blue, @d-blue);
    height:500px;

    h3{font-size: 24px;
        color: @d-blue;
        
}
    
    form{
        color: @d-blue;
    

    button{.button(@d-blue);
        text-decoration: none;
        height:30px;
        border-radius: 80%;
    }}
}
