.Home{
    .head{
    background: -webkit-linear-gradient(@d-blue,@red);

    
    h1{
        font-size:80px;
        text-align: center;
        color: @white;
        text-shadow: -2px 0 @blue, 0 2px @blue, 2px 0 @blue, 0 -2px @blue;
        padding-top:10% 
    }
    a{
        font-size: 40px;
    }

    

    p{
        color: @white;
        font-size: 40px;
        padding: 10%;

    }    }
    
    




.midsect{
    background: -webkit-linear-gradient(@red,@white, @l-blue, @blue, @d-blue);
    // height:610px;
    

    #imgmain{
        padding-top: 10%;
        padding-bottom: 12%;
        width: 100vw;

        mix-blend-mode: multiply;


        
    }
    button{
        .button(@d-blue);
        text-decoration: none;
        height:7vh;
        width:20vw;
        border-radius: 80%;
        
        
        
        
        a{
            color:@l-blue;
            font-size: 40px;
        }
        } #button1{margin-left:30%;
        margin-right:10%}



        }




}

.About{
    
   
    .head{background: -webkit-linear-gradient(@d-blue,@red);
        height:15vh;
        h1{
            font-size:80px;
            text-align: center;
            color: @white;
            text-shadow: -2px 0 @blue, 0 2px @blue, 2px 0 @blue, 0 -2px @blue; 
        }
        a{
            font-size: 40px;
        }
    }
    .midsect{
        background: -webkit-linear-gradient(@red,@white, @l-blue, @blue, @d-blue);
        h2{
            color:@white;
            font-size: 40px;
        }
        #imgmain{
            // position: absolute;
            width: 100vw;
            // height: 100vh;
            mix-blend-mode: multiply;}
            .attributes{
                display:flex;
                justify-content: space-evenly;
                align-items: center;
                flex-flow: row wrap;
                position: relative;
                // bottom:120vh;
            }
            #img1{
                // height:50%;
                width:40%;
                // position: relative;
                // bottom:1200px ;
                border-radius: 60%;     
            }
            #p1{
                font-size:60px;
                color:@white;
                text-shadow: -2px 0 @blue, 0 2px @blue, 2px 0 @blue, 0 -2px @blue;
                // position: relative;
                // bottom:1600px;
                // left:600px;
            }
            #img2{
                // height:50%;
                width:40%;
                // position: relative;
                border-radius: 60%;
            }
            #p2{
                font-size:60px;
                color:@white;
                text-shadow: -2px 0 @blue, 0 2px @blue, 2px 0 @blue, 0 -2px @blue;
                // position: relative;
            }
            #img3{
                // height:40%;
                width:40%;
                // position: relative;
                border-radius: 80%;
            }
            #p3{
                font-size:60px;
                color:@white;
                text-shadow: -2px 0 @blue, 0 2px @blue, 2px 0 @blue, 0 -2px @blue;
                // position: relative;
            }
    }
}


