header {
    .defaultFlex(column);
    background-image: url(/assets/journey.jpg);

    h1{
        font-size: 12rem;
    }

    nav{
        font-size: 3rem;

        a{
            text-decoration: none;
        }
    }

    button{
        font-size: 4rem;
    }
}