.foot{
    background-color: @d-blue;
    padding-bottom: 25px;

    nav{
        
    }
    a{
    background-color: @d-blue;
    color: @white;
    text-decoration: none;
    padding-right:30px;
    padding-left: 20px;
    }
}